{% extends "admin/admin_base_site.html" %}
{% load custom_tag %}
{% block current_title %}Home{% endblock %}
{% block extrastyle %}
	{{ block.super }}
	<style type="text/css">
	.home-block {
		display: block;
		border: 1px solid #ccc;
		width: 60%;
		margin: 30px;
		background: white;
	}
	.home-block h2 {
		font-size: 16px;
		margin: 0;
		padding: 2px 5px 3px 5px;
		text-align: left;
		background: url({{ MEDIA_URL }}images/nav-bg.gif) top left repeat-x;
		color: #666;
	}
	.home-block h3 {
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		margin: 40px;
	}
	.home-block a {
		text-decoration: none;
	}
	.home-block img {
		margin-right: 20px;
	}
	</style>
{% endblock %}

{% block content %}
<div id="content-main">
	<div class="home-block">
		<h2>Source Data Inventory</2>
		<a href="{% setting 'APP_SERVER_URL' %}/admin/dcmetadata/sourcedatainventory/"><h3><img src="{{ MEDIA_URL }}images/home_icon_inventory.png">Source Data Inventory</h3></a>
		{% if user.is_staff and 'dcmetadata.add_sourcedatainventory' in user.get_group_permissions %}
			<a href="{% setting 'APP_SERVER_URL' %}/admin/dcmetadata/sourcedatainventory/add/"><h3><img src="{{ MEDIA_URL }}images/home_icon_add_file.png">Add New Source Data</h3></a>
		{% endif %}
	</div>
	<div class="home-block">
		<h2>Dataset</2>
		<a href="{% setting 'APP_SERVER_URL' %}/admin/dcmetadata/dataset/"><h3><img src="{{ MEDIA_URL }}images/home_icon_inventory.png">Dataset Inventory</h3></a>
		{% if user.is_staff and 'dcmetadata.add_dataset' in user.get_group_permissions %}
			<a href="{% setting 'APP_SERVER_URL' %}/admin/dcmetadata/dataset/add/"><h3><img src="{{ MEDIA_URL }}images/home_icon_add_file.png">Add New Dataset</h3></a>
		{% endif %}
	</div>
	{% if user.is_superuser %}
		<div class="home-block">
			<h2>Site Administration</2>
			<a href="{% setting 'APP_SERVER_URL' %}/admin/"><h3><img src="{{ MEDIA_URL }}images/home_icon_admin.png">Go to Site Administration (Admin login required)</h3></a>
		</div>
	{% endif %}
	<div class="home-block">
		<h2>DB Upload Tool</2>
		<a href="{% setting 'APP_SERVER_URL' %}/db_upload_help_doc/"><h3><img src="{{ MEDIA_URL }}images/home_icon_help.png">DB Upload Tool Help Document</h3></a>
	</div>
</div>
<!--
{% if not user.is_staff %}
<div id="content-related">
	<div class="home-block">
		<h2>Login</h2>
	</div>
</div>
{% endif %}
-->
{% endblock %}