{% extends "admin/admin_base_site_"|add:appname|add:".html" %}
{% load i18n admin_static admin_modify %}{% load custom_tag %}
{% block current_title %}Add as Query Layer in ArcGIS{% endblock %}
{% block breadcrumbs %}
	{% if user.is_superuser %}
		&rsaquo; <a href="{% setting 'APP_SERVER_URL' %}/admin/dcmetadata/">App:Dcmetadata Administration</a>
	{% endif %}
	&rsaquo; <a href="{% setting 'APP_SERVER_URL' %}/admin/dcmetadata/sourcedatainventory/">Source Data Inventory</a>
	&rsaquo; <a href="{% setting 'APP_SERVER_URL' %}/admin/dcmetadata/sourcedatainventory/{{ sourcedata_id }}/">{{table_title}}</a>
	&rsaquo; Add as Query Layer in ArcGIS
{% endblock %}

{% block extrastyle %}
	{{ block.super }}
	<link rel="stylesheet" href="{{ MEDIA_URL }}js/third_party/nivo-slider/themes/light/light.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}js/third_party/nivo-slider/nivo-slider.css" type="text/css" media="screen" />
	<script type="text/javascript" src="{{ MEDIA_URL }}js/third_party/nivo-slider/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/third_party/nivo-slider/jquery.nivo.slider.js"></script>
	<style type="text/css">
		h4 {
			font-size:16px;
			font-weight:normal;
		}
		input {
			margin: 10px;
		}
		#clipboard_textarea {
			width: 600px;
		}
		#my-slider-wrapper{
			width:600px;
			float:right;
			margin-top: -75px;
			border:1px solid #484848;
			border-width: 0px 0px 0px 1px;
		}
		.slider-wrapper { 
			width: 600px; 
		}
		.clear {
			clear:both;
		}
		.play {
			display: block;
			width: 24px;
			height: 24px;
			margin-left: 300px;
			background: url("{{ MEDIA_URL }}images/nivoslider_button_pause.png") center top no-repeat;
			text-indent: -9999px;
		}
		.play:hover {
			background: url("{{ MEDIA_URL }}images/nivoslider_button_pause_hover.png") center top no-repeat;
		}
		.pause {
			display: block;
			width: 24px;
			height: 24px;
			margin-left: 300px;
			background: url("{{ MEDIA_URL }}images/nivoslider_button_play.png") center top no-repeat;
			text-indent: -9999px;
		}
		.pause:hover {
			background: url("{{ MEDIA_URL }}images/nivoslider_button_play_hover.png") center top no-repeat;
		}
	</style>
{% endblock %}

{% block content %}
<div id="content-main">
	<h1>Add Source Data Table as Query Layer in ArcGIS</h1>
	<hr>
	<div id="my-slider-wrapper">
        <div class="slider-wrapper theme-light">
		<h2>Instructions:</h2>
            <div id="slider" class="nivoSlider">
                <img src="{{ MEDIA_URL }}images/screenshots_addquerylayer/addquerylayer_00.png" data-thumb="{{ MEDIA_URL }}images/screenshots_addquerylayer/addquerylayer_00.png" alt="" />
				<img src="{{ MEDIA_URL }}images/screenshots_addquerylayer/addquerylayer_01.png" data-thumb="{{ MEDIA_URL }}images/screenshots_addquerylayer/addquerylayer_01.png" alt="" />
				<img src="{{ MEDIA_URL }}images/screenshots_addquerylayer/addquerylayer_02.png" data-thumb="{{ MEDIA_URL }}images/screenshots_addquerylayer/addquerylayer_02.png" alt="" />
				<img src="{{ MEDIA_URL }}images/screenshots_addquerylayer/addquerylayer_03.png" data-thumb="{{ MEDIA_URL }}images/screenshots_addquerylayer/addquerylayer_03.png" alt="" />
				<img src="{{ MEDIA_URL }}images/screenshots_addquerylayer/addquerylayer_04.png" data-thumb="{{ MEDIA_URL }}images/screenshots_addquerylayer/addquerylayer_04.png" alt="" />
				<img src="{{ MEDIA_URL }}images/screenshots_addquerylayer/addquerylayer_05.png" data-thumb="{{ MEDIA_URL }}images/screenshots_addquerylayer/addquerylayer_05.png" alt="" />
				<img src="{{ MEDIA_URL }}images/screenshots_addquerylayer/addquerylayer_06.png" data-thumb="{{ MEDIA_URL }}images/screenshots_addquerylayer/addquerylayer_06.png" alt="" />
            </div>
			<a id="playPauseButton" href="#play" class="play">Pause</a>
        </div>
    </div>
	<h2>Database Connection Properties:</h2>
	<ul>
		<li><h4><b>DBMS Client</b> : postgresql</h4></li>
		<li><h4><b>Data Source</b> : pitondc1</h4></li>
		<li><h4><b>Database</b> : data_initiative</h4></li>
		<li><h4><b>Authentication</b> : Database Authentication</h4></li>
		<li><h4><b>Username</b> : Admin</h4></li>
		<li><h4><b>Password</b> : Piton!</h4></li>
	</ul>
	<h2>Query:</h2>
	<textarea id="clipboard_textarea" rows="2" cols="150" readonly>{{query_txt}}</textarea><br/>
</div>
{% endblock %}

{% block bottom_javascript %}
	<script type="text/javascript">
		document.getElementById('clipboard_textarea').select();
		$(window).load(function() {
			var $slider = $('#slider');
			$("#playPauseButton").click(function (e) {
				e.preventDefault();
				var $button = $(this);
				if ($button.hasClass("play")) {
					$slider.data('nivoslider').stop();
					$button.toggleClass("play", false);
					$button.toggleClass("pause", true);
					$button.text("Play");
				}
				else {
					$slider.data('nivoslider').start();
					$button.toggleClass("pause", false);
					$button.toggleClass("play", true);
					$button.text("Pause");
				}
			});
			$('#slider').nivoSlider({
				effect:'fade',
				pauseTime: 3000,
				controlNav: true,
			});
			//$('#slider').data('nivoslider').stop();
		});
	</script>
{% endblock %}