{% extends "admin/admin_base_site_"|add:appname|add:".html" %}
{% load i18n admin_static admin_modify %}{% load custom_filter %}{% load custom_tag %}

{% block extrastyle %}
	{{ block.super }}
	<style type="text/css">
		table {
			border: 1px solid #ddd !important;
			border-collapse:collapse;
		}
		
		td {
			font-size: 14px;
			border: 1px solid #ddd;
			padding: 10px 20px;
		}
		
		thead th {
			font-size: 14px;
			border: 1px solid #ddd;
			padding: 5px 10px;
		}
		
		tbody tr th{
			font-size: 14px;
			font-weight: bold;
			border: 1px solid #ddd;
			vertical-align: middle;
			background: #eee;
		}
	
		.delete-link {
			float:left;
			padding-left:18px;
			margin-left:100px;
			background:url({{ MEDIA_URL }}images/icon_delete.gif) no-repeat left center;
		}
		.edit-link {
			float:left;
			padding-left:18px;
			background:url({{ MEDIA_URL }}images/icon_edit.gif) no-repeat left center;
		}
		.delete-row {
			float:right;
			display:block;
			margin-left:4px;
			padding-left:18px;
			background:url({{ MEDIA_URL }}images/delete.png) no-repeat left center;
		}
		
		.metadata_detail{
			display:block;
			margin-left:30px;
		}
		
		.metadata_detail hr{
			width:90%;
			float:left;
		}
		
		.metadata_detail_sub_tags{
			display:block;
			margin-left:20px;
		}
		
		.dynamic-fields-form th {
			text-align:right;
			font-weight:bold;
		}
		.dynamic-fields-form td span img {
			vertical-align:middle;
			border:0;
		}
		
		.dynamic-other-form th {
			text-align:right;
			font-weight:bold;
		}
		.dynamic-other-form td span img {
			vertical-align:middle;
			border:0;
		}
		
		table{
			border: 0px solid;
			border-bottom-width: 1px;
			padding: 10px;
			margin: 20px;
		}
		
		.errornote{
			font-size: 12px !important;
			display: block;
			padding: 4px 5px 4px 25px;
			margin: 0 0 3px 0;
			border: 1px solid red;
			color: red;
			background: #FFC url({{ MEDIA_URL }}images/icon_error.png) 5px .3em no-repeat;
			line-height: 14px;
		}
		
		.errorlist li{
			font-size: 12px !important;
			display: block;
			padding: 4px 5px 4px 25px;
			margin: 0 0 3px 0;
			border: 1px solid red;
			color: white;
			background: red url({{ MEDIA_URL }}images/icon_errormsg.png) 5px .3em no-repeat;
			line-height: 14px;
		}
		
		ul{
			display: block;
			-webkit-margin-before: 0px;
			-webkit-margin-after: 0px;
			-webkit-margin-start: 0px;
			-webkit-margin-end: 0px;
			-webkit-padding-start: 0px;
			margin-top: -23px !important;
		}
		
		li{
			font-size: 18px;
			line-height: 20px;
			margin-left: 50px;
		}
		
		div#metadata_tools
		{
			float:right;
		}
		
		.read-more-toggle h3 {
			margin-left: 0;
			text-decoration: underline;
			color: #487909;
			font-size: 16px;
		}
		
		.hide {
			display: none;
		}
	</style>
{% endblock %}

{% block extrahead %}
	<!-- JQUERY 1.7.2 -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
{% endblock %}

{% block current_title %}Metadata ID {{metadata_id}}{% endblock %}

{% block breadcrumbs %}
	{% if user.is_superuser %}
		&rsaquo; <a href="{% setting 'APP_SERVER_URL' %}/admin/dcmetadata/">App:Dcmetadata Administration</a>
	{% endif %}
	&rsaquo; <a href="{% setting 'APP_SERVER_URL' %}/admin/dcmetadata/sourcedatainventory/">Source Data Inventory</a>
	&rsaquo; Metadata ID: {{metadata_id}}
{% endblock %}

{% block content %}
<div id="content-main">
	<h1><a target="_blank" class="sourcedata-link" href="{% setting 'APP_SERVER_URL' %}/admin/dcmetadata/sourcedatainventory/{{ metadata_id }}/">{{ source_data.title }}</a></h1>
	<div id="metadata_tools">
		{% if has_change_permission %}
			<a class="edit-link" href="edit">Edit Metadata</a>
		{% endif %}
	</div>
	<br/><hr/>
	<h3>Source Data ID: {{metadata_id}}</h3>
	{% if datasets %}
		<h3>This source data is included in the following dataset(s):</h3>
		{% for dataset in datasets %}
			<li><a target="_blank" class="sourcedata-link" href="{% setting 'APP_SERVER_URL' %}/admin/dcmetadata/dataset/{{ dataset.id }}/">{{dataset.name}}</a></li>
		{% endfor %}
		<br/><hr><br/>
	{% endif %}
	
	<h1>Table Metadata</h1>
	<table>
		<tbody>
			<tr><th>Source Data</th><td>{{source_data.title}}</td></tr>
			<tr><th>Database Table Name</th><td>{{source_data.file_name}}</td></tr>
			<tr><th>Domain</th><td>{{source_data.macro_domain}}</td></tr>
			<tr><th>Subdomain</th><td>{{source_data.subject_matter.get_subjectmatter_name}}</td></tr>
			<tr><th>Geography</th><td>{{source_data.coverage}}</td></tr>
			<tr><th>Geographic Level</th><td>{{source_data.geography}}</td></tr>
			<tr><th>Year</th><td>{{source_data.year}}</td></tr>
			<tr><th>Source</th><td>{{source_data.source}}</td></tr>
		</tbody>
	</table>
	<br/><hr>
	<h2>Table Fields</h2>
	<table>
		<thead>
			<tr>
				<th scope="col">Field Name</th>
				<th scope="col">Description</th>
				<th scope="col">Data Type</th>
			</tr>
		</thead>
		<tbody>
			{% for field_metadata_dict in field_metadata_dict_list %}
				<tr>
					<td>{{field_metadata_dict.field_name}}</td>
					<td>{{field_metadata_dict.verbose_name}}</td>
					<td>{{field_metadata_dict.data_type}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<!--
	<br/><br/><hr>
	<h2>Table Tags</h2>
	<br/>
	<div class="metadata_detail">
		<br/>
		<b>Geography:</b> {{table_tags_dict.geography}}<br/>
		<b>Geographic Level:</b> {{table_tags_dict.geographic_level}}<br/>
		<b>Domain:</b> {{table_tags_dict.domain}}<br/>
		<b>Subdomain:</b> {{table_tags_dict.subdomain}}<br/>
		<b>Source:</b> {{table_tags_dict.source}}<br/>
		<b>Time Period:</b>{{table_tags_dict.time_period|replace:";,-"}}<br/><br/>
		<hr><br/>
	</div>
	<br/>
	<h2>Field Metadata</h2>
	<br/>
	<div class="metadata_detail">
		{% for field_metadata_dict in field_metadata_dict_list %}
			<br/>
			<b>Field Name:</b>{{field_metadata_dict.field_name}}<br/>
			<b>Data Type:</b>{{field_metadata_dict.data_type}}<br/>
			<b>Verbose Name:</b>{{field_metadata_dict.verbose_name}}<br/>
			<b>No Data Value:</b>{{field_metadata_dict.no_data_value}}<br/>
			<b>Tags:</b><br/>
			<div class="metadata_detail_sub_tags">
				<b>Geography:</b>{{field_metadata_dict.tags.geography}}<br/>
				<b>Geographic Level:</b>{{field_metadata_dict.tags.geographic_level}}<br/>
				<b>Domain:</b>{{field_metadata_dict.tags.domain}}<br/>
				<b>Subdomain:</b>{{field_metadata_dict.tags.subdomain}}<br/>
				<b>Time Period:</b>{{field_metadata_dict.tags.time_period|replace:";,-"}}<br/>
				<b>Visualization Type:</b>{{field_metadata_dict.tags.visualization_type}}<br/>
				<b>Geometry:</b>{{field_metadata_dict.tags.geometry}}<br/><br/>
			</div>
			<br/><br/><hr>
		{% endfor %}
	</div>
	-->
	<br/><br/><hr>
	<div class="read-more-content">
		<h2>Metadata JSON:</h2>
		<br/><br/>
		table_metadata = <br/>
		{<br/>
		"table_tags":<br/>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{
		{% for key,value in table_tags_dict.items %}
			<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			"{{key}}":"{{ value }}",
		{% endfor %}
		<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;},<br/>
		
		"field_metadata":<br/>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[<br/>
		{% for field_metadata_dict in field_metadata_dict_list %}
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{
			<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			"Field Name":"{{field_metadata_dict.field_name}}",
			<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			"Data Type":"{{field_metadata_dict.data_type}}",
			<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			"Verbose Name":"{{field_metadata_dict.verbose_name}}",
			<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			"No Data Value":"{{field_metadata_dict.no_data_value}}",
			<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			"tags":"{<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				{% for key,value in field_metadata_dict.tags.items %}
					"{{key}}":"{{ value }}",<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				{% endfor %}
			}"<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			},<br/>
		{% endfor %}
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;]<br/>
		}
		<br/><br/><hr>
	</div>
	<div class="read-more-toggle">
		<h3>Show Metadata JSON</h3>
		<h3 style="display:none">Hide Metadata JSON</h3>
	</div>
	<br/><br/>
	<div id="metadata_tools">
		{% if has_change_permission %}
			<a class="edit-link" href="edit">Edit Metadata</a>
		{% endif %}
	</div>
</div>
{% endblock %}

{% block bottom_javascript %}
<script>
	$('.read-more-content').addClass('hide');
	$('.read-more-toggle').css('cursor','pointer');
	$('.read-more-toggle').click(function(){
		$(this).find('h3').toggle();
		$('.read-more-content').toggle('slow');
	});
</script>
{% endblock bottom_javascript %}