{% extends "admin/admin_base_site.html" %}
{% load i18n admin_static admin_modify %}
{% load custom_filter %}
{% load custom_tag %}

{% block extrahead %}
	{{ block.super }}
		<!-- CSS -->
		<link href="{{ MEDIA_URL }}css/third_party/JQuery/default.css" rel="stylesheet" type="text/css" media="screen" />
		<link rel="stylesheet" type="text/css" href="{{STATIC_RUL}}admin/css/forms.css"/>
		<style type="text/css">
			.delete-link {
				float:left;
				padding-left:18px;
				margin-left:100px;
				background:url({{ MEDIA_URL }}images/icon_delete.gif) no-repeat left center;
			}
			.edit-link {
				float:left;
				padding-left:18px;
				background:url({{ MEDIA_URL }}images/icon_edit.gif) no-repeat left center;
			}
			.delete-row {
				float:right;
				display:block;
				margin-left:4px;
				padding-left:18px;
				background:url({{ MEDIA_URL }}images/delete.png) no-repeat left center;
			}
			
			.metadata_detail{
				display:block;
				margin-left:30px;
			}
			
			.metadata_detail hr{
				width:90%;
				float:left;
			}
			
			.metadata_detail_sub_tags{
				display:block;
				margin-left:20px;
			}
			
			.dynamic-fields-form th {
				text-align:right;
				font-weight:bold;
			}
			.dynamic-fields-form td span img {
				vertical-align:middle;
				border:0;
			}
			
			.dynamic-other-form th {
				text-align:right;
				font-weight:bold;
			}
			.dynamic-other-form td span img {
				vertical-align:middle;
				border:0;
			}
			
			table{
				border: 0px solid;
				border-bottom-width: 1px;
				padding: 10px;
				margin: 20px;
			}
			
			.errornote{
				font-size: 12px !important;
				display: block;
				padding: 4px 5px 4px 25px;
				margin: 0 0 3px 0;
				border: 1px solid red;
				color: red;
				background: #FFC url({{ MEDIA_URL }}images/icon_error.png) 5px .3em no-repeat;
				line-height: 14px;
			}
			
			.errorlist li{
				font-size: 12px !important;
				display: block;
				padding: 4px 5px 4px 25px;
				margin: 0 0 3px 0;
				border: 1px solid red;
				color: white;
				background: red url({{ MEDIA_URL }}images/icon_errormsg.png) 5px .3em no-repeat;
				line-height: 14px;
			}
			
			ul{
				display: block;
				-webkit-margin-before: 0px;
				-webkit-margin-after: 0px;
				-webkit-margin-start: 0px;
				-webkit-margin-end: 0px;
				-webkit-padding-start: 0px;
				margin-top: -23px !important;
			}
			div#metadata_tools
			{
				float:right;
			}
		</style>
{% endblock %}

{% block title %}Metadata ID {{metadata_id}} | {% trans 'Data Commons Source Data Metadata Management' %}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% setting 'APP_SERVER_URL' %}/dcmetadata/home/">{% trans 'Home' %}</a>
&rsaquo; <a href="{% setting 'APP_SERVER_URL' %}/admin/dcmetadata/">App:Dcmetadata Administration</a>
&rsaquo; <a href="{% setting 'APP_SERVER_URL' %}/admin/dcmetadata/sourcedatainventory/">Source Data Inventory</a>
&rsaquo; Metadata ID: {{metadata_id}}
</div>
<br/><hr><br/>
{% endblock %}

{% block content %}
<div id="content-main">
	<h1>Metadata ID: {{metadata_id}}</h1>
	<br/>
	<h3>Source Data: &nbsp;" <a target="_blank" class="sourcedata-link" href="{% setting 'APP_SERVER_URL' %}/admin/dcmetadata/sourcedatainventory/{{ metadata_id }}/">{{ source_data_name }}</a> "</h3>
	<div id="metadata_tools">
		<a class="edit-link" href="edit">Edit Metadata</a>
		<a class="delete-link" href="delete_confirm">Delete Metadata</a>
	</div>

	<br/><hr><br/>
	Metadata JSON:<br/><br/>
	table_metadata = <br/>
	{<br/>
	"table_tags":<br/>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{
	{% for key,value in table_tags_dict.items %}
		<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		"{{key}}":"{{ value }}",
	{% endfor %}
	<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;},<br/>
	
	"field_metadata":<br/>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[<br/>
	{% for field_metadata_dict in field_metadata_dict_list %}
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{
		<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		"Field Name":"{{field_metadata_dict.field_name}}",
		<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		"Data Type":"{{field_metadata_dict.data_type}}",
		<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		"Verbose Name":"{{field_metadata_dict.verbose_name}}",
		<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		"No Data Value":"{{field_metadata_dict.no_data_value}}",
		<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		"tags":"{<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			{% for key,value in field_metadata_dict.tags.items %}
				"{{key}}":"{{ value }}",<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			{% endfor %}
		}"<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		},<br/>
	{% endfor %}
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;]<br/>
	}
	<br/><br/><hr>
	
	<h1>Table Metadata</h1>
	<hr>
	<h2>Table Tags</h2>
	<br/>
	<div class="metadata_detail">
		<br/>
		<b>Geography:</b> {{table_tags_dict.geography}}<br/>
		<b>Geographic Level:</b> {{table_tags_dict.geographic_level}}<br/>
		<b>Domain:</b> {{table_tags_dict.domain}}<br/>
		<b>Subdomain:</b> {{table_tags_dict.subdomain}}<br/>
		<b>Source:</b> {{table_tags_dict.source}}<br/>
		<b>Time Period:</b>{{table_tags_dict.time_period|replace:";,-"}}<br/><br/>
		<hr><br/>
	</div>
	<br/>
	<h2>Field Metadata</h2>
	<br/>
	<div class="metadata_detail">
		{% for field_metadata_dict in field_metadata_dict_list %}
			<br/>
			<b>Field Name:</b>{{field_metadata_dict.field_name}}<br/>
			<b>Data Type:</b>{{field_metadata_dict.data_type}}<br/>
			<b>Verbose Name:</b>{{field_metadata_dict.verbose_name}}<br/>
			<b>No Data Value:</b>{{field_metadata_dict.no_data_value}}<br/>
			<b>Tags:</b><br/>
			<div class="metadata_detail_sub_tags">
				<b>Geography:</b>{{field_metadata_dict.tags.geography}}<br/>
				<b>Geographic Level:</b>{{field_metadata_dict.tags.geographic_level}}<br/>
				<b>Domain:</b>{{field_metadata_dict.tags.domain}}<br/>
				<b>Subdomain:</b>{{field_metadata_dict.tags.subdomain}}<br/>
				<b>Time Period:</b>{{field_metadata_dict.tags.time_period|replace:";,-"}}<br/>
				<b>Visualization Type:</b>{{field_metadata_dict.tags.visualization_type}}<br/>
				<b>Geometry:</b>{{field_metadata_dict.tags.geometry}}<br/><br/>
			</div>
			<br/><br/><hr>
		{% endfor %}
	</div>
	<br/><br/>
	<div id="metadata_tools">
		<a class="edit-link" href="edit">Edit Metadata</a>
		<a class="delete-link" href="delete_confirm">Delete Metadata</a>
	</div>
</div>
{% endblock %}