{% extends "admin/admin_base_site.html" %}
{% load i18n admin_static admin_modify %}
{% load custom_tag %}


{% block extrahead %}{{ block.super }}{% endblock %}

{% block title %}Are you sure? | {% trans 'Data Commons Source Data Metadata Management' %}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% setting 'APP_SERVER_URL' %}/dcmetadata/home/">{% trans 'Home' %}</a>
&rsaquo; <a href="{% setting 'APP_SERVER_URL' %}/admin/dcmetadata/">App:Dcmetadata Administration</a>
&rsaquo; <a href="{% setting 'APP_SERVER_URL' %}/admin/dcmetadata/sourcedatainventory/">Source Data Inventory</a>
&rsaquo; <a href="{% setting 'APP_SERVER_URL' %}/dcmetadata/metadata/{{ metadata_id }}/">Metadata ID: {{metadata_id}}</a>
&rsaquo; Delete Confirm
</div>
{% endblock %}

{% block content %}
<div id="content-main">
	{% block object-tools %}{% endblock %}
	<br/><hr><br/>
	<h1>Metadata ID: {{metadata_id}}</h1>
	<br/><br/><hr><br/><br/>
	<h1>Are you sure?</h1>
	<p>Are you sure you want to delete metadata <b>"Metadata ID: {{metadata_id}}"</b> for source data "<b>{{ source_data_name }}</b>"?</p>
	
	<br/><hr><br/><br/>
	
	<form action="../delete/" method="post"> {% csrf_token %}
		<div>
			<input type="hidden" name="post" value="yes" />
			<input type="submit" value="Yes, I'm sure." />
			&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="Cancel" onclick="window.location.href='../'">
		</div>
	</form>
	
</div>
{% endblock %}