{% extends "admin/admin_base_site.html" %}
{% load adminmedia %}{% load i18n admin_static admin_modify %}{% load url from future %}{% load admin_urls %}{% load smart_if %}{% load custom_tag %}
{% block extrastyle %}
	<style type="text/css">

		form textarea {
			display: inline-block;
		}
		form select {
			display: inline-block;
		}

		#metadata-block {
			width: 200px;
			height: 24px;
			display: block;
			float: right;
			margin-right: 5%;
			margin-bottom: 5px;
		}
		
		#download-block {
			width: 200px;
			height: 24px;
			display: block;
			float: right;
			margin-bottom: 5px;
		}
		
		#prev-next-block{
			width: 200px;
			height: 24px;
			display: block;
			float: right;
			margin-bottom: 15px;
			margin-top: -15px;
		}
		
		#id_upload_file{
			width: 600px;
		}
		
		.view-metadata-link {
			margin-left:20px;
			padding-left:20px;
			background:url({{ MEDIA_URL }}images/icon_metadata.gif) no-repeat left center;
		}
		
		.add-metadata-link {
			padding-left:20px;
			background:url({{ MEDIA_URL }}images/icon_metadata_add.png) no-repeat left center;
		}
		
		.download-link {
			padding-left:20px;
			background:url({{ MEDIA_URL }}images/icon_download.png) no-repeat left center;
		}
		
		.querylayer-link {
			margin-left:20px;
			padding-left:20px;
			background:url({{ MEDIA_URL }}images/icon_querylayer.png) no-repeat left center;
		}
		
		.prev-record-link {
			padding-left:20px;
			background:url({{ MEDIA_URL }}images/icon_prev.png) no-repeat left center;
			background-size: 25% Auto;
		}
		
		.next-record-link {
			padding-right:20px;
			background:url({{ MEDIA_URL }}images/icon_next.png) no-repeat right center;
			background-size: 37% Auto;
		}
	</style>
	<!-- Extra JS for using Django admin date picker widget -->
	<script type="text/javascript">
		window.__admin_media_prefix__ = "{% filter escapejs %}{% admin_media_prefix %}{% endfilter %}";
	</script>
{% endblock %}

{% block extrahead %}
	{{ block.super }}
	{% url 'admin:jsi18n' as jsi18nurl %}
	<script type="text/javascript" src="{{ jsi18nurl|default:'../../../jsi18n/'}}"></script>
	<!-- JQUERY 1.7.2 -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<!-- Scripts to enable Tab key in textarea -->
	<script type="text/javascript">//<![CDATA[ 
		$(window).load(function(){
			$("textarea").keydown(function(e) {
				if (e.keyCode === 9) { // tab was pressed
					// get caret position/selection
					var start = this.selectionStart;
					end = this.selectionEnd;

					var $this = $(this);

					// set textarea value to: text before caret + tab + text after caret
					$this.val($this.val().substring(0, start) + "\t" + $this.val().substring(end));

					// put caret at right position again
					this.selectionStart = this.selectionEnd = start + 1;

					// prevent the focus lose
					return false;
				}
			});
		});//]]>  
	</script>
	{{ media }}
{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% if not is_popup %}
	{% block breadcrumbs %}
		{% if user.is_superuser %}
			&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">App:{{ app_label|capfirst|escape }} Administration</a>
		{% endif %}
		&rsaquo; 
		{% if has_change_permission %}
			<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
		{% else %}
			{{ opts.verbose_name_plural|capfirst }}
		{% endif %}
		&rsaquo; {% if add %}{% trans 'Add' %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
		{% if opts.verbose_name = 'source data inventory' or opts.verbose_name = 'dataset' %}
			{% if original.id %}
				<div id="prev-next-block">
				{% if original.get_previous_record_id != -1 and original.id > 0 %}
				<a class="prev-record-link" title="Privious" href="{{admin_url}}{% setting 'APP_SERVER_URL' %}/admin/dcmetadata/{{opts.verbose_name|cut:" "}}/{{original.get_previous_record_id}}">Previous</a>
				{% endif %}
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				{% if original.get_next_record_id != -1 and original.id > 0 %}
				<a class="next-record-link" title="Next" href="{{admin_url}}{% setting 'APP_SERVER_URL' %}/admin/dcmetadata/{{opts.verbose_name|cut:" "}}/{{original.get_next_record_id}}">Next</a>
				{% endif %}
				</div>
			{% endif %}
		{% endif %}
	{% endblock %}
{% endif %}

{% block content %}
{% url 'admin:index' as admin_url %}
{% if opts.verbose_name = 'source data inventory' or opts.verbose_name = 'dataset' %}
	{% if original.id %}
		{% if original.metadata %}
			<div id="metadata-block"><a class="view-metadata-link" title="View Metadata" target="_blank" href="{{ admin_url|cut:'/admin/' }}/dcmetadata{% if opts.verbose_name = 'dataset' %}/dataset{% endif %}/metadata/{{ original.id }}/">Metadata</a></div>
			{% if opts.verbose_name = 'source data inventory' %}
				<div id="download-block">
					<a class="download-link" title="Download Source Data" target="_blank" href="{{ admin_url|cut:'/admin/' }}/dcmetadata/sourcedatainventory/{{ original.id }}/download/">Download</a>
					{% if original.macro_domain.name = 'Geography' %}
						<a class="querylayer-link" title="Add as Query Layer in ArcGIS" target="_blank" href="{{ admin_url|cut:'/admin/' }}/dcmetadata/sourcedatainventory/{{ original.id }}/add_querylayer/">QueryLayer</a>
					{% endif %}
				</div>
			{% endif %}
		{% else %}
			<div id="metadata-block"><a class="add-metadata-link" title="Add Metadata" target="_blank" href="{{ admin_url|cut:'/admin/' }}/dcmetadata{% if opts.verbose_name = 'dataset' %}/dataset{% endif %}/metadata/{{ original.id }}/edit">Add Metadata</a></div>
		{% endif %}
	{% endif %}
{% endif %}
<div id="content-main">
{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools">
    {% block object-tools-items %}
    <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
	<!--
    {% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
	-->
    {% endblock %}
  </ul>
{% endif %}{% endif %}
{% endblock %}
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form">{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
{% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% blocktrans count counter=errors|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}

{% block field_sets %}
{% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}
{% endblock %}

{% block after_field_sets %}{% endblock %}

{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}
{% endblock %}

{% block after_related_objects %}{% endblock %}

{% block submit_buttons_bottom %}{% submit_row %}{% endblock %}

{% if adminform and add %}
   <script type="text/javascript">document.getElementById("{{ adminform.first_field.id_for_label }}").focus();</script>
{% endif %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</form></div>
{% endblock %}