{% extends "admin/admin_base_site_oasm.html" %}
{% load custom_tag %}
{% block current_title %}Home{% endblock %}
{% block extrastyle %}
	{{ block.super }}
	<style type="text/css">
	.home-block {
		display: block;
		border: 1px solid #ccc;
		width: 60%;
		margin: 30px;
		background: white;
	}
	.home-block h2 {
		font-size: 16px;
		margin: 0;
		padding: 2px 5px 3px 5px;
		text-align: left;
		background: url({{ MEDIA_URL }}images/nav-bg.gif) top left repeat-x;
		color: #666;
	}
	.home-block h3 {
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		margin: 40px;
	}
	.home-block a {
		text-decoration: none;
	}
	.home-block img {
		margin-right: 20px;
	}
	</style>
{% endblock %}

{% block content %}
<div id="content-main">
	{% if user.is_superuser %}
		<div class="home-block">
			<h2>Outcomes and Goals</2>
			<a href="{% setting 'APP_SERVER_URL' %}/admin/outcomesandstrategiesmanagement/outcome10to19/"><h3><img src="{{ MEDIA_URL }}images/home_icon_inventory.png">View All the Outcomes and Goals</h3></a>
			{% if user.is_staff and 'outcomesandstrategiesmanagement.add_threeyeargoal' in user.get_group_permissions %}
				<a href="{% setting 'APP_SERVER_URL' %}/admin/outcomesandstrategiesmanagement/threeyeargoal/add/"><h3><img src="{{ MEDIA_URL }}images/home_icon_add_file.png">Add New 3-Year Goal</h3></a>
			{% endif %}
		</div>
		<div class="home-block">
			<h2>Strategies</2>
			<a href="{% setting 'APP_SERVER_URL' %}/admin/outcomesandstrategiesmanagement/strategy/"><h3><img src="{{ MEDIA_URL }}images/home_icon_inventory.png">View All the Strategies</h3></a>
			{% if user.is_staff and 'outcomesandstrategiesmanagement.add_strategy' in user.get_group_permissions %}
				<a href="{% setting 'APP_SERVER_URL' %}/admin/outcomesandstrategiesmanagement/strategy/add/"><h3><img src="{{ MEDIA_URL }}images/home_icon_add_file.png">Add New Strategy</h3></a>
			{% endif %}
		</div>
		<div class="home-block">
			<h2>Activities</2>
			<a href="{% setting 'APP_SERVER_URL' %}/admin/outcomesandstrategiesmanagement/activity/"><h3><img src="{{ MEDIA_URL }}images/home_icon_inventory.png">View All the Activities</h3></a>
			{% if user.is_staff and 'outcomesandstrategiesmanagement.add_activity' in user.get_group_permissions %}
				<a href="{% setting 'APP_SERVER_URL' %}/admin/dcmetadata/sourcedatainventory/add/"><h3><img src="{{ MEDIA_URL }}images/home_icon_add_file.png">Add New Activity</h3></a>
			{% endif %}
		</div>		
		<div class="home-block">
			<h2>Site Administration</2>
			<a href="{% setting 'APP_SERVER_URL' %}/admin/outcomesandstrategiesmanagement/"><h3><img src="{{ MEDIA_URL }}images/home_icon_admin.png">Go to Site Administration (Admin login required)</h3></a>
		</div>
	{% endif %}
</div>
<!--
{% if not user.is_staff %}
<div id="content-related">
	<div class="home-block">
		<h2>Login</h2>
	</div>
</div>
{% endif %}
-->
{% endblock %}